:root {
    --primary-color: #ee4d2d;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;
    --header-sort-bar-height: 46px;
    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc( var(--header-height) - var(--navbar-height));
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 62.5%;
    line-height: 1.6rem; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main {
    overflow: hidden;
}

path {
    fill: #fff;
}

.header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(26, 155, 241);
    height: 48px;
}

.header__item {
    line-height: 48px;
    list-style: none;
}

.header__item a {
    text-decoration: none;
}

.header__item-list:hover {
    background-color: #ccc;
}

.header__item-list {
    display: inline-flex;
    position: relative;
}

.header__item-list a {
    padding: 0 24px;
    color: #fff;
}

.header__item-icon {
    position: relative;
    top: -6%;
}

.header__item-list--sub {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style: none;
    padding: 0;
    width: 160px;
    cursor: pointer;
    display: none;
}

@keyframes growth {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header__item-list:hover .header__item-list--sub {
    display: block;
    z-index: 1;
    animation: growth ease-in 0.3s;
}

.header__item-list--sub-2 {
    padding: 0 20px;
}

.header__item-list--sub-2:hover {
    background-color: #ccc;
}


/* Slider */

.slider {
    margin-top: 48px;
    padding-top: 75%;
    background-image: url(https://scontent.fdad1-1.fna.fbcdn.net/v/t39.30808-6/279271290_3241962906023824_6823762662952391012_n.jpg?_nc_cat=109&ccb=1-6&_nc_sid=e3f864&_nc_ohc=Vbz0ekr8GTsAX9NuNQj&_nc_ht=scontent.fdad1-1.fna&oh=00_AT8UP1TReF7qQwtv270qCIFKtMsQFnd7zwFDornsBC5vLQ&oe=628AB96A);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}

.slider__sub {
    left: 0;
    right: 0;
    bottom: 48px;
    color: #fff;
    position: absolute;
    text-align: center;
}

.slider__main {
    margin-bottom: 1px;
    margin-top: 47px;
}


/* Content 1*/

.content__title-main {
    color: var(--white-color);
    text-align: center;
    width: 100%;
    margin: 6px 0;
}

.content__title-main h2 {
    color: black;
    text-align: center;
}

.content__title-sub-main {
    text-align: center;
    color: #ccc;
    margin: 15px 0;
    font-style: italic;
}

.content__title-sub-main-p {
    text-align: justify;
}

.member-item-main {
    margin-top: 12px;
}

.member-item {}

.name {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    padding-bottom: 20px;
}


/* .content__img {
    width: 50%;
} */

.member-img {
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.member-king-music-1 {
    background-image: url(https://scontent.fdad1-1.fna.fbcdn.net/v/t39.30808-6/277572721_3221990748021040_893045772431955035_n.jpg?_nc_cat=100&ccb=1-6&_nc_sid=8bfeb9&_nc_ohc=mRjG8oCE7NwAX9wugMo&_nc_ht=scontent.fdad1-1.fna&oh=00_AT8bm77y5qXSIt0ClIFeFyq6SXUvG7Q1o5P4zh_ZgY_EaA&oe=628A1CFC);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90%;
}

.member-king-music-2 {
    background-image: url(https://scontent.fdad1-3.fna.fbcdn.net/v/t39.30808-6/277003490_3221990764687705_703858206767942932_n.jpg?_nc_cat=111&ccb=1-6&_nc_sid=8bfeb9&_nc_ohc=ekzq9lTsRwYAX-876FJ&_nc_ht=scontent.fdad1-3.fna&oh=00_AT_gvIIdW47XzY1ZORv0bvYWyKI9Usc7NMWxuPm5UVPyUA&oe=628B5E35);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90%;
}

.member-king-music-3 {
    background-image: url(https://scontent.fdad1-1.fna.fbcdn.net/v/t39.30808-6/279550212_3245460759007372_7150948562352472471_n.jpg?_nc_cat=103&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=SXvhDktfBFMAX8fveuS&tn=WffMn7CXpCGrmixE&_nc_ht=scontent.fdad1-1.fna&oh=00_AT_FqkNRz5RBkekqnbS3MWrovOnNkERri6HzB8mYJLFLCQ&oe=628A877F);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90%;
}


/* The end Content 1 ok*/


/* Content 2 */

.content__title-2 {
    margin: 0 auto;
    background-color: black;
    width: 100%;
}

.content__title-sub-2 {}

.content__month {}

.content__month-sold {
    border-bottom: 1px solid #ccc;
    height: 40px;
    background-color: #fff;
    text-align: left;
    padding: 12px;
}

.content__month-sold:nth-child(3) {
    display: flex;
    justify-content: space-between;
}

.sold-1 {
    margin-left: 12px;
    color: #fff;
    background-color: rgb(235, 13, 13);
    padding: 2px;
}

.sold-2 {
    margin-left: 8px;
    color: #fff;
    background-color: rgb(235, 13, 13);
    padding: 2px;
}

.sold-3 {
    padding-left: 8px;
    border-radius: 50%;
    color: #fff;
    background: #000;
    padding-right: 8px;
    padding-bottom: 20px;
}

.content-img {
    width: 100%;
}

.content-img-1 {
    width: 100%;
}

.content-img-sub {
    background-image: url(https://scontent.fdad1-2.fna.fbcdn.net/v/t39.30808-6/279470280_3244251525794962_2232465396248008954_n.jpg?_nc_cat=105&ccb=1-6&_nc_sid=8bfeb9&_nc_ohc=BdU7vq2FTO4AX8Z30k1&_nc_ht=scontent.fdad1-2.fna&oh=00_AT87PCR-QwGiYmit7mFC-zdvs-etpZNfUF3CrUspxVaoQw&oe=628B1C9E);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50%;
}

.content-img-sub-1 {
    background-image: url(https://scontent.fdad1-2.fna.fbcdn.net/v/t39.30808-6/271838357_3165490990337683_908868272399914166_n.jpg?_nc_cat=105&ccb=1-6&_nc_sid=8bfeb9&_nc_ohc=uJZ48WlyTSoAX9vIbdW&_nc_ht=scontent.fdad1-2.fna&oh=00_AT8g-xDQSxnIZR_yNdYsySkjwIGlko0Oq7udlaScMlcg3g&oe=6289DE39);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50%;
}

.content-img-sub-2 {
    background-image: url(https://scontent.fdad1-3.fna.fbcdn.net/v/t39.30808-6/269748704_127101119782236_4797102554951135901_n.jpg?_nc_cat=111&ccb=1-6&_nc_sid=8bfeb9&_nc_ohc=q7ZltubYAWcAX9vvqbi&_nc_ht=scontent.fdad1-3.fna&oh=00_AT_px-bWVQDgw_D5CiArtqKjZcKB_q2B5H4Nf4FwCJ8gIg&oe=628A6A60);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50%;
}

.content-img-sub {
    width: 100%;
}

.content-sub {
    width: 100%;
    margin-top: -4px;
    background-color: #fff;
    padding-bottom: 25px;
}

.content-sub-title {
    padding: 12px 8px;
}

.buyticket {
    width: 85px;
    height: 38px;
    color: #fff;
    background-color: #000;
    border: none;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buyticket:hover {
    background-color: #ccc;
    cursor: pointer;
}


/* The end Content 2 */

.headers {
    width: auto;
    height: 800px;
}


/* Container-2 */


/* container 2 */

.container-2 {
    margin-top: 36px;
}

.container-1-text {
    padding: 16px 0;
    font-size: 2rem;
}

.container-1-text a {
    color: #2f2f2f;
    text-decoration: none;
}


/* Hover 2 class - 1 cai dung yen - 1 cai chay */

.container-1-text a:hover {
    color: var(--hover-color);
    text-decoration: underline;
}

.hv:hover~.right {
    transform: translateX(10px);
}

.right {
    color: var(--hover-color);
}

.right:hover {
    /* transform: translateX(10px); */
}


/* Hover 2 class - 1 cai dung yen - 1 cai chay */

.container-2-logo {
    text-align: center;
}

.container-2-img {
    width: 100%;
}

.action-band {
    background-image: url(https://scontent.fdad2-1.fna.fbcdn.net/v/t39.30808-6/272836661_3176325735920875_4100264874107335290_n.jpg?_nc_cat=108&ccb=1-6&_nc_sid=8bfeb9&_nc_ohc=3nceBb1AIt0AX_qcWBx&_nc_ht=scontent.fdad2-1.fna&oh=00_AT8EVn-Gqc-MfT9-jZZGXlWv5XNCSjjksRbUkMObhaxx1A&oe=6289E347);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50%;
}

.action-band-1 {
    background-image: url(https://scontent.fdad1-1.fna.fbcdn.net/v/t39.30808-6/277301963_3217464305140351_6971597758493304723_n.jpg?_nc_cat=109&ccb=1-6&_nc_sid=8bfeb9&_nc_ohc=oxd-wI_aE6kAX_J8RLp&_nc_ht=scontent.fdad1-1.fna&oh=00_AT_ZyS9CTXjJmck7gYqS2ipKcNTCfHo4TcogaS4A2ZDROQ&oe=628BA719);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50%;
}

.action-band-2 {
    background-image: url(https://scontent.fdad1-2.fna.fbcdn.net/v/t39.30808-6/272169883_3171150659771716_403249902427652600_n.jpg?_nc_cat=102&ccb=1-6&_nc_sid=8bfeb9&_nc_ohc=SRVhq1F4pxQAX_qyTXs&_nc_ht=scontent.fdad1-2.fna&oh=00_AT-S-UIhz9uGgVq-lq1aSd-LUjoeQnpdC7jtyVYuYBnyXQ&oe=628A4B8D);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50%;
}

.action-band-3 {
    background-image: url(https://scontent.fdad1-3.fna.fbcdn.net/v/t39.30808-6/276270684_3221990698021045_2375904744564967294_n.jpg?_nc_cat=111&ccb=1-6&_nc_sid=8bfeb9&_nc_ohc=ThzmGbZy6KEAX9ESrLl&_nc_ht=scontent.fdad1-3.fna&oh=00_AT87uwOg3hoxT0MzgfdJkVBR44ifupkCPHBtx0a29RZMOg&oe=6289E527);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50%;
}

.action-band-4 {
    background-image: url(https://scontent.fdad1-3.fna.fbcdn.net/v/t39.30808-6/276008933_148794974279517_7764310475320041726_n.jpg?_nc_cat=110&ccb=1-6&_nc_sid=8bfeb9&_nc_ohc=ky97FJgO5FIAX_JXQis&tn=WffMn7CXpCGrmixE&_nc_ht=scontent.fdad1-3.fna&oh=00_AT9OkunCkquqfznCFQGvNlrxcVEKG-AGi2laK611WD7UVw&oe=628BA59D);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50%;
}

.action-band-5 {
    background-image: url(https://scontent.fdad1-2.fna.fbcdn.net/v/t39.30808-6/272888463_136037765555238_2050423275011578175_n.jpg?_nc_cat=102&ccb=1-6&_nc_sid=e3f864&_nc_ohc=GOdruJ_CnJEAX9L1YX5&_nc_ht=scontent.fdad1-2.fna&oh=00_AT8ajpa8KLR4Y5noCYyaHiFp-f1S1J_cC-nFcWlyqraItw&oe=6289C473);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50%;
}

.container-2-img-1 {}

.container-2-img-text {
    font-size: 20px;
    line-height: 2.4rem;
}

.container-2-img-text a {
    color: black;
    padding-top: 15px;
    text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 23px;
    overflow: hidden;
}

.container-2-img-text a:hover {
    text-decoration: underline;
}


/* The end container-2 */


/* 3 */

.header-3 {
    height: 500px;
    background-color: black;
}


/* footer */

.map {
    background-image: url(/img/map.jpg);
    background-size: contain;
    padding-top: 57%;
    background-repeat: no-repeat;
}

.icon-all {
    font-size: 21px;
}

.copyright {
    margin-top: 16px;
}


/* Mobile: width < 740px */

@media only screen and (max-width: 46.1875em) {
    .slider__sub {
        left: 0;
        right: 0;
        bottom: 40px;
        color: #fff;
        /* width: 100%; */
        position: absolute;
        text-align: center;
    }
    .main {
        margin-left: 0;
        margin-right: 0;
    }
}


/* Tablet: width >= 740px and width < 1024px */

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .slider__sub {
        left: 0;
        right: 0;
        bottom: 48px;
        color: #fff;
        /* width: 100%; */
        position: absolute;
        text-align: center;
    }
    .main,
    .slider,
    map {
        margin-left: 0;
        margin-right: 0;
    }
}


/* Footer */

.footer {
    background-color: black;
}

.footer-social {
    padding-top: 30px;
    display: grid;
    justify-content: center;
}

.footer-social h3 {
    font-size: 22px;
    color: #fff;
}

.footer-social-text {}

.ytb {
    padding-left: 4px;
    color: red;
}

.face {
    padding-left: 4px;
    color: #087cea;
}

.mess {
    padding-left: 4px;
}

.inst {
    padding-left: 4px;
    color: #ff2882;
}

.twitter {
    padding-left: 4px;
    color: rgb(15, 121, 234);
}

.footer-social-text-sub {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    list-style: none;
    padding: 6px 0;
}

.footer-social-text-sub-1 {
    display: flex;
    align-items: center;
}

.footer-social-text-sub i {
    font-size: 18px;
}

.copyright {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    padding: 31px 0;
}


/* Authen Modal */

.auth-form {
    width: 500px;
    border-radius: 2px;
    overflow: hidden;
    background-color: #8fbbcb;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.auth-form__heading svg {
    width: 20px;
    margin-left: 12px;
}

.auth-form__switch-btn {
    width: 20px;
    cursor: pointer;
}

.auth-form__buy {
    display: flex;
    align-items: center;
    font-size: 20px;
    display: block;
}

.auth-form-ticket {
    color: #fff;
}

.auth-form__cart {
    width: 20px;
}

.auth-form__input {
    width: 93%;
    height: 40px;
    margin-top: 16px;
    padding: 0 16px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus {
    border-color: #777;
}

.auth-form__people {
    font-size: 20px;
    padding-top: 12px;
    display: flex;
    align-items: center;
}

.auth-form__go {
    display: block;
    color: var(--white-color);
}

.icon-people {
    width: 20px;
}

.auth-form__controls {
    margin-top: 80px;
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin: 0 8px;
}


/* qr code */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-form));
    }
    to {
        transform: scale(var(--growth-to));
    }
}


/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    display: none;
}

.open {
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    /* 0.7 ~ 70% */
    --growth-form: 0.7;
    --growth-to: 1;
    margin: auto;
    /* Hoi viet content tu no se thay */
    /* width: 300px;
    height: 300px; */
    z-index: 1;
    position: relative;
    animation: growth linear 0.5s;
}


/* Button style */

.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    font-size: 1.4rem;
    padding: 0 8px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    /* display: inline-flex; cac item se nam ngang */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    background-color: var(--white-color);
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}


/* 1 element co 2 class */

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.btn--disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}


/* Selection */

.select-input {
    position: relative;
    min-width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 120px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    font-size: 1.4rem;
    color: #7e7e7e;
    position: relative;
    top: 1px;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__list {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
}

.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}